@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-box-item {
    @apply hidden transition-all ease-in-out duration-700 delay-150;
  }
  .img-box-item {
    @apply hidden transition-all ease-in-out duration-700 delay-150;
  }
  .active {
    @apply block !important;
  }
  .dots-box-item {
    @apply bg-gray-300 transition-all ease-in-out duration-700 delay-150;
  }
  .dots-box-item-active {
    @apply bg-primary !important;
  }
  .btn-main {
    @apply font-medium font-IBM rounded-full text-sm px-5 py-2.5 text-center mx-1 my-1 text-white bg-gradient-to-bl from-main-600 from-0% via-main-600 via-50% to-secondary to-100%;
  }
  .btn-main:hover {
    @apply via-35%;
  }
  .goals-card {
    @apply flex md:flex-row flex-col p-5 justify-start items-start bg-white rounded-xl drop-shadow-2xl hover:drop-shadow-lg shadow-[#A8B1CE];
  }

  .step-card {
    @apply relative rounded-xl border bg-white border-main-600 p-4 md:p-4 sm:pt-7 pt-7 flex md:flex-row flex-col sm:justify-start justify-center items-center;
  }
  .step-card-span {
    @apply absolute -top-5 left-auto md:-left-5 md:top-auto sm:-top-5 sm:left-auto bg-white w-10 h-10 flex justify-center items-center rounded-full border border-main-600 font-IBM font-bold text-lg group-hover:bg-main-600 group-hover:text-white transition-all duration-1000 delay-200;
  }
  .custom-li {
    @apply flex justify-center items-start flex-col relative pb-8;
  }
  .custom-li::before {
    @apply text-base font-bold font-IBM text-white flex justify-center items-center w-10 h-10 rounded-full absolute content-[attr(before)] -right-14 bg-gradient-to-bl from-main-600 from-0% via-main-600 via-50% to-secondary to-100%;
  }
  .badge-level {
    @apply m-0 py-2 px-4 rounded-full transition-all duration-500 ease-in-out font-IBM font-medium text-sm;
  }
  .inner-sidebar-item {
    @apply flex items-center px-1 py-4 hover:bg-main-200 transition-all duration-500 ease-in-out relative;
  }

  .inner-sidebar-item-text {
    @apply ms-3 font-IBM text-sm text-textDashboard group-hover:text-main-600;
  }
  .inner-sidebar-title {
    @apply flex items-center px-1 py-4 bg-main-200;
  }
  .inner-sidebar-title-text {
    @apply ms-3 font-IBM text-base font-semibold text-black;
  }
}
.more-btn::before {
  @apply text-base font-bold font-IBM text-white flex justify-center items-center w-10 h-10 rounded-full absolute content-[''] -right-5 -top-3 bg-main-600 bg-opacity-20;
}

/* Scroll */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b4b4b4;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5da441;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b4b4b4;
}

.icon-before::before {
  content: "\f144";
  font-family: "Font Awesome 6 Free" !important; /* Ensure this matches your Font Awesome version */
  font-weight: 400;
}

/* lazy */
.lazy {
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
}

.lazy.loaded {
  opacity: 1;
}

.sidebar .active > a > span,
.sidebar .active > button > div > span {
  @apply text-main-600 !important;
}

.sidebar .active > a > img,
.sidebar .active > button > div > img {
  filter: grayscale(0) !important;
}
.sidebar .active > a,
.sidebar .active > button {
  @apply bg-gray-100 !important;
}

.innerSideBar .active > a > span {
  @apply text-main-600  font-semibold !important;
}
.innerSideBar .active > a {
  @apply bg-gray-100 !important;
}
.innerSideBar .active > a::before {
  @apply w-1 h-full absolute content-[''] top-0 right-0 bg-main-600;
}

/* fade-in-fwd */
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
/* scale-in-center */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* text-focus-in */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* slide-in-fwd-top */
@-webkit-keyframes slide-in-fwd-top {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-top {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
/*  */

[data-animation="slide-in"].slide-in-fwd-top {
  animation: slide-in-fwd-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  opacity: 1;
}
.text-box-item {
  -webkit-animation: fade-in-fwd 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.text-box-item h1 {
  -webkit-animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    0.3s both;
  animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.3s both;
}
.img-box-items img {
  -webkit-animation: scale-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
